body{
    background: rgb(255,253,253);
    background: linear-gradient(90deg, rgba(255,253,253,1) 0%, rgba(135,235,255,1) 100%); 
}


div.card{
    height: 200px !important;
}

img {
    width: 800; /* You can set the dimensions to whatever you want */
    height: 600px;
    object-fit: cover;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

.img-container{
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-sm {
    width: 60%;
}


